snippet c
	const 
snippet v
	var 
snippet a
	async  
snippet e
	export 
snippet r
	return 
snippet pr
	private 
snippet pu
	public  
snippet =
	${1:thing} = ${0:value}
snippet f
	function ${1:name}(${2:param}) {
		${0}
	}
